input[type="search"]{
    width: 100%;
    padding: 9px;
    border-radius: 18px;
    margin-top: 60px;
    margin-left: 40px;
    text-indent: 317px;
    box-shadow: 10px 9px gray;
}
#logo{
    vertical-align: middle;
    border-style: none;
    border-radius: 269%;
    height: 56px;
    margin-top: 47px;
    margin-left: 217px;
}
#bgimg{
    height: 350px;
    width: 100%;
    object-fit: cover;
    margin-top: 42px;
}
p{
    margin-left: 614px;
    border: 2px 1px solid;
    border-block-color: black;
    background-color: #eeebeb;
    width: fit-content;
    margin-top: 24px;
    border-radius: 69px;

}
.iconStyle{
    font-size: 40px;
    padding: 15px 20px;
    margin: auto;
}
.mainTableForIcon
{
    margin-left: 40%;
}
.iconName{
    width: fit-content;
    display: block;
}
span{
    display: block;
    text-align: center;
}
footer{
    float: right;
    font-size: larger;
    margin-right: 5%;
    display: block;

}
#bag{
   
    
    float: right;
    margin-top: 10px;
    border: 1px solid;
    bgcolor: gray;
    margin-right: 10px;
   padding: 3px 10px;
}
h4{
    margin-top: 10px;
}
h6{
     border-radius: 7px;
    width: fit-content;
    text-align: center;
    margin-left: 45%;
    border: 1px solid black;
    margin-top: 5%;
    color: rgb(10, 10, 172);
    font-size: large;
    height: max-content; 
    height: 34px;
    width: 130px;
    padding: 4px;

}

#footer{
    float: left;
    margin-left: 15px;
}
h5{
    border-radius: 5px;
    border:1px solid black;
    width: fit-content;
    width: 101px;
    color: blue;
    margin-left: 40%;
    width: 14%;
    text-align: center;
}

.paddingForTv{
    padding: 0px 15px;
}
.mainTableForIconBottom{
    margin-left: 30%;
}
.alpha{
    background-color: rgb(1, 1, 11);
    color: white;
    padding: 7px;
    border-radius: 50%;
    font-size: 17px;

}
.mainIconParentDiv{
    padding: 0px 15px;
}